doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script.
  function move() {
    console.log('place.id', place.id)
    window.location.href = '/place/' + place.id
  }
