* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
a {
  color: #00B7FF;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 40px 0;
  background-color: #222;
  color: #788;
  width: 100%;
}
.left {
  width: 20%;
  background-color: #eee;
  border: solid 1px #aaa;
  padding: 10px;
}
.left > h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0 0 10px;
}
.left > form > input {
    margin: 10px 5% 0;
    width: 90%;
}
.right {
  width: 80%;
  border: solid purple 2px;
}

.right > ul {
  list-style: none;
  padding: 5%;
  margin: 0;
}

.right > ul > li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: solid #777 1px;
  padding: 10px 20px;
  border-radius: 7px;
}

.right > ul > li > p.title,
.right > ul > li > p.desire {
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
}
.right > ul > li > p.desire:before {
  content: "Desire:";
}

.right > ul > li > p.description {
  width: 50%;
  padding: 0 0 0 2.5%;
  margin: 10px 0;
}
.right > ul > li > a.destroy {
  width: 50%;
  color: #999;
  text-align: right;
  padding: 0 2.5% 0 0;
  margin: 10px 0;
}
.right > ul > li > a.destroy:hover {
  color: red;
}

.right > ul > li > img {
  width: 100%;
  height: 100%;
}

.right > ul > li > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: solid #888 1px;
  border-radius: 7px;
}
.right > ul > li > ul > li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.right > ul > li > ul > li.link {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: solid #777 1px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

li.link > a {

}
