* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  background-color: #1D2D44;
}
a {
  color: #00B7FF;
}
body > a {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #222;
  color: #F0EBDE;
  width: 100%;
  text-decoration: none;
  font-size: 1.4rem;
}
.left {
  width: 20%;
  padding: 10px;
  position: fixed;
  top: 73px;
}
.left > h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0 0 10px;
  color: #F0EBDE;
}
.left > form > input {
  margin: 10px 2.5% 0;
  width: 95%;
  line-height: 1.2rem;
  padding-left: 8px;
  border: solid 1px #ccc;
  border-radius: 4px;
}
.left > form {
  border-bottom: solid 2px #748CAB;
  border-top: solid 2px #748CAB;
  padding-bottom: 10px;
}
.left > form > input[type="submit"] {
  border: solid 1px #ccc;
  border-radius: 4px;
  background-color: #748CAB;
  font-weight: 400;
  color: #F0EBD8;
}
.right {
  width: 80%;
  margin: 0 0 0 20%;
  border-left: solid 1px #aaa;
}

.right > .title {
  text-align: center;
  color: #0D1321;
  background-color: #cbcbcb;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 3px #666;
}

.right > ul {
  list-style: none;
  padding: 5%;
  margin: 0;
  background-color: #ddd;
  background-color: #3E5C76;
}

.right > ul > li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: solid #777 1px;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 40px 0;
  background-color: #eee;
}
.right > ul > li.single > .title {
  background-color: #0062AD;;
  color: #F3F3F3;
}

.right > ul > li:first-child {
  margin-top: 20px;
}
.right > ul > li:last-child {
  margin-bottom: 20px;
}

.right > ul > li > a.title,
.right > ul > li > p.title,
.right > ul > li > p.desire {
  font-size: 1.3rem;
  text-align: center;
  margin: 5px 0 15px 0;
  padding: 5px 0;
  border: solid #777 1px;
  border-radius: 7px;
  text-decoration: none;
}
.right > ul > li > a.title,
.right > ul > li > p.title {
  width: 64%;
  margin-right: 4%;
}
.right > ul > li > a.title {
  cursor: pointer;
}
.right > ul > li > a.title:hover {
  background-color: #777;
}
.right > ul > li > p.desire {
  width: 32%;
}
.right > ul > li > p.desire:before {
  content: "Desire:";
}

.right > ul > li > p.description {
  width: 50%;
  padding: 0 0 0 2.5%;
  margin: 10px 0;
}
.right > ul > li > a.destroy {
  width: 50%;
  color: #999;
  text-align: right;
  padding: 0 2.5% 0 0;
  margin: 10px 0;
}
.right > ul > li > a.destroy:hover {
  color: red;
}

.right > ul > li > img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid 1px #777;
}

.right > ul > li > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: solid #888 1px;
  border-radius: 7px;
}
.right > ul > li > ul > li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right > ul > li > ul > li.link {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: solid #777 1px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

li.link > a {

}

.right > li.form {
  display: flex;
  flex-wrap: wrap;
  border: solid purple 1px;
}

li.form > p {
  display: inline;
  width: 15%;
  margin: 10px 5px 10px 2.5%;
}
li.form > form {
  width: 80%;
}
li.form > form > input {
  margin: 0 2%;
  width: 36%;
}

li.form > form > input[type="submit"] {
  margin: 0 2%;
  width: 16%;
}
